<div class="content-form">
    <h3>Mesaj Gönderin</h3>
    <form method="post">
        <input type="text" placeholder="AdSoyad" name="AdSoyad" required />
        <input type="text" placeholder="Konu" name="Konu" required />
        <input type="text" placeholder="Mail" name="Mail" required />
        <textarea placeholder="Mesaj" name="Mesaj"></textarea>
        <input type="submit" value="GÖNDER" />
    </form>
</div>