@model TravelTripProjee.Models.Siniflar.Hakkimizda
@{
    ViewBag.Title = "HakkimizdaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Hakkımızda Güncelleme</h1>
<br />
@using (Html.BeginForm("HakkimizdaGuncelle", "Admin", FormMethod.Post))
{
    <form class="form-group" method="post">
        @Html.LabelFor(x => x.Aciklama)
        @Html.TextAreaFor(x => x.Aciklama, 15, 1, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.FotoUrl)
        @Html.TextBoxFor(x => x.FotoUrl, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Hakkımızda Güncelle</button>
    </form>
}



