@using TravelTripProjee.Models.Siniflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "HakkimizdaListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımızda Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AÇIKLAMA</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Aciklama</td>
            <td><a href="/Admin/HakkimizdaGetir/@item.ID" class="btn btn-warning">GÜNCELLE</a></td>
        </tr>
    }
</table>
<br />

